/** 

Created with love & tears,
https://github.com/blueb442

**/


/* Dark Theme Variables */

.blueberry {
    --bg-primary: rgb(25, 25, 27);
    --bg-secondary: rgb(22, 22, 24);
    --bg-secondary-alt: rgb(16, 16, 17);
    --bg-tertiary: rgb(8, 8, 8);
    --bg-accent: rgb(49, 49, 53);
    --text-header: rgb(255, 255, 255);
    --text-main: rgb(233, 233, 233);

    --accent: rgb(148, 91, 212);

    --red: rgb(199, 44, 44);
    --orange: rgb(233, 116, 48);
    --yellow: rgb(245, 232, 57);
    --green: rgb(100, 190, 88);
    --blue: rgb(49, 125, 212);
    --purple: rgb(126, 68, 219);

    --font-display: "Commissioner";
    --font-primary: "Source Sans Pro";
    --font-code: "Fira Code";
}

/* Display Font */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Primary Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Code Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/alert.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/button.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/badge.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/card.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/directory.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/list.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/modal.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/nav.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/placeholder.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/progress.css");
@import url("https://raw.githubusercontent.com/blueb442/blueberry/main/css/tag.css");

/** Headers & Text **/
/* - headers */

h1 {
    font-family: var(--font-display)!important;
}

h2 {
    font-family: var(--font-display)!important;
}

h3 {
    font-family: var(--font-display)!important;
}

h4 {
    font-family: var(--font-display)!important;
}

h5 {
    font-family: var(--font-display)!important;
}

h6 {
    font-family: var(--font-display)!important;
}

/* - text */

p {
    font-family: var(--font-primary);
}

a {
    font-family: var(--font-primary);
}

span {
    font-family: var(--font-primary);
}

.txt {
    font-family: var(--font-primary);
}

